@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

td {
  border: 1px solid black;
}

.main {
  text-align: center;
}
